/* .cabecalhoPrincipal-titulo{
    display: inline-block;
    vertical-align: middle;
}
.cabecalhoPrincipal-nav{
    display: inline-block;
    vertical-align: middle; 
    float: right
    display: inline

} */
.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalhoPrincipal-nav{
    display: flex;
}